<!-- <app-library></app-library> -->
<!-- <app-display-data></app-display-data>
<app-list-libraries></app-list-libraries> -->

<div class="app">



  <div class="menuside">
    <ul>
      <li>
        <h2>
          <a routerLink="/liste">Liste des bibliothèques</a>
        </h2>
      </li>

      <li>
    <h2>
      <a routerLink="/nouveau">Nouvelle bibliothèque</a>
    </h2>
  </li>

  <li>
      <h2>
        <a routerLink="/tableau">Tableau des bibliothèques</a>
      </h2>
    </li>

  <!-- <li>
    <h2>
      <a routerLink="/modifier/:id">Modifier bibliothèque à coder</a>
    </h2>
  </li> -->
  </ul>


  </div>

  <div class="container">
      <!-- <app-library-form></app-library-form>
      <app-list-libraries></app-list-libraries> -->
      <app-search></app-search>
      <router-outlet></router-outlet>

  </div>

</div>

