<img src="assets/nouveau.png">
<h1>Mettre à jour une bibliothèque</h1>

<form [formGroup]="libraryForm" (ngSubmit)="onSubmit()">
        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert">
                <div *ngIf="city.errors.required">
                    la ville est obligatoire
                </div>
                <div *ngIf="city.errors.minlength">
                    la ville doit faire minimum deux caractères
                </div>
        </div>

        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
                <div *ngIf="firstName.errors.required">
                    le prénom est obligatoire
                </div>
        </div>

        <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert">
                <div *ngIf="type.errors.availabletype">
                    le type doit être PUBLIC ou NATIONAL
                </div>
        </div>

        <input type="hidden" formControlName="id">

        <div class="line" (click)="sendLabel(library.label)">
                <label>
                    <h3>Bibiliothèque :</h3>
                    Libellé:
                    <input type="text" formControlName="label" >
                </label>
            </div>
            <div class="line">
                <label>
                    Type:
                    <input type="text" formControlName="type" >
                </label>
            </div>

            <div class="shape">
                    <div class="line">
                            <label>
                                <h3>Directeur :</h3>
                                Prénom:
                                <input type="text" formControlName="firstName" >
                            </label>
                    </div>
                    <div class="line">
                            <label>
                                Nom:
                                <input type="text" formControlName="lastName" >
                            </label>
                    </div>
            </div>

            <div class="shape">
                    <div class="line">
                            <label>
                                <h3>Adresse :</h3>
                                Ville:
                                <input type="text" formControlName="city" >
                            </label>
                    </div>
                    <div class="line">
                            <label>
                                N°:
                                <input type="text" formControlName="numberStreet" >
                            </label>
                    </div>
                    <div class="line">
                            <label>
                                Code Postal:
                                <input type="text" formControlName="postalCode" >
                            </label>
                    </div>
                    <div class="line">
                            <label>
                                Rue:
                                <input type="text" formControlName="street" >
                            </label>
                    </div>
            </div>



    <div class="line">
        <button [disabled]="!libraryForm.valid"> Sauvegarder </button>
    </div>

</form>

